Integration/VSTO/Subcontracts/McKinstry.ViewPoint/ViewPointExcelAddIn/Service References/Dev/UnionClassService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/McKinstry.ViewPoint.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/McKinstry.ViewPoint.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCraftValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CraftValue" nillable="true" type="tns:CraftValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCraftValue" nillable="true" type="tns:ArrayOfCraftValue" />
  <xs:complexType name="CraftValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Craft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRCo" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CraftValue" nillable="true" type="tns:CraftValue" />
</xs:schema>